hypothesis==6.168.3; python_version >= "3.10"
hypothesis==6.141.1; python_version < "3.10"
sortedcontainers==2.4.0
coverage==7.16.2; python_version >= "3.10"
coverage==7.10.7; python_version < "3.10"
